nav:has(.blog-nav){
    background: #650300;
}
.blog-nav{
    padding-block: 13px;
    font-size: 20px;
    gap: 48px;

    &-search-btn{
        margin-left: auto;
        span{
            font-size: 30px;
            vertical-align: middle;
        }
    }
}

.blog-list{
    .list-item{
        &:not(:last-child){
            margin-bottom: 60px;
        }
        gap: 24px;
        img,article{
            width: calc(50% - 12px);
        }
    }
    .blog-article{
        flex-direction: column;
        &-title{
            font-size: 32px;
        }
        &-subtitle{
            justify-content: space-between;
            font-size: 20px;
            .blog-publish-date{
                font-size: 16px;
                align-items: center;
            }
        }
    }
    .blog-article-content{
        justify-content: space-between;
        flex-direction: column;
        flex-grow: 1;
        color:#555555;
        .blog-btn{
            text-align: right;
            font-size: 32px;
            position: relative;
            z-index: 100;           
            //hover effect
            &::before,&::after{
                content:"MORE";
                text-transform: uppercase;
                position: absolute;
                inset:0;
                color:inherit;
                opacity: 0;              
                z-index: 10;
                transition: opacity 1s;
            }
            &::before{
                transform: translateY(-40%);
                filter: grayscale(50%);
                transition-duration: 1s;
            }
            &::after{
                transform: translateY(-70%);
                filter: grayscale(70%);
                transition-duration: 500ms;
            }
            &:hover{
                &::before{
                    opacity: .7;
                    transition-duration: 500ms;
                }
                &::after{
                    opacity: .6;
                    transition-duration: 1s;
                }
            }

            @include pad{
                // display: none;
                &::before,&::after{
                    display: none;
                }
            }
        }
    }
}

