.header {
	.container {
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		padding-block: 16px;

		img {
			height: 48px;
		}

		:hover,
		:focus {
			filter:invert(70%);
		}
	}

	h1.logo a {
		//only index
		display: block;
		background-image: url(../img/logo-white.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		@include hide_h1;
		width: 80px;
		height: 48px;
	}

	.header-nav {
		gap: 64px;

		li {
			font-size: 20px;

			&:is(:hover, :focus) {
				transform: translateY(-4px);
				text-decoration: underline;
				text-underline-offset: 4px;
			}
		}
	}
	@include mobile {
		.container {
			flex-direction: column;
			align-items: normal;
		}

		.header-nav {
			margin-inline: -15px; //把container的留白抵銷掉
			flex-wrap: wrap;
			gap: 0;

			li {
				font-size: 16px;
				text-align: center;
				width: 50%;
				border: 1px solid #fff;
				padding-block: 12px;
			}
		}
	}
}
